.wrapper{
    // ================================ banner section ==========================
    .portfolio-banner-section {
        background-image: url("/assets/images/pricing.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    
        .navbar {
          padding: 1rem 0 2rem 0;
    
          @include media-min-lg {
            margin: 0 0 0 9.5rem;
          }
          .navbar-nav {
            a {
              font-family: "Vanio Trial";
              color: $pink-clr;
              text-align: center;
              @include media-min-xl {
                padding: 0 1.5rem;
                font-size: 18px;
                font-weight: 400;
              }
            }
          }
        }
        .banner-txt {
          font-weight: 400;
          font-size: 2rem;
          font-family: "Impact";
    
          @include media-min-lg {
            padding: 8rem 0 10rem 0;
            font-size: 5.2rem;
          }
        }
      }
    //   ================================= Gallery section =======================
    .gallery-section{
        background-color: $light_brwn;
        font-family: "Sulphur Point";
        padding: 1rem;
        @include media-min-xl {
          padding: 4.5rem 12rem;
        }
        .gallery-head{
            font-size: 2.8rem;
        }
        .gallery-txt{
            font-size: 1.2rem;
            letter-spacing: 1px;
        }
    }
}